{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "ContainerRegistryManagementClient",
        "version": "2017-10-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-10-01/containerregistry.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "containerregistry",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/Microsoft.ContainerRegistry/operations": {
            "get": {
                "description": "Lists all of the available Azure Container Registry REST API operations.",
                "operationId": "Operations_List",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a request to list container registry operations.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI that can be used to request the next list of container registry operations.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of container registry operations. Since this list may be incomplete, the nextLink field should be used to request the next list of operations.",
                                            "items": {
                                                "description": "The definition of a container registry operation.",
                                                "properties": {
                                                    "display": {
                                                        "description": "The display information for the container registry operation.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "The description for the operation.",
                                                                "type": "string"
                                                            },
                                                            "operation": {
                                                                "description": "The operation that users can perform.",
                                                                "type": "string"
                                                            },
                                                            "provider": {
                                                                "description": "The resource provider name: Microsoft.ContainerRegistry.",
                                                                "type": "string"
                                                            },
                                                            "resource": {
                                                                "description": "The resource on which the operation is performed.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Operation name: {provider}/{resource}/{operation}.",
                                                        "type": "string"
                                                    },
                                                    "origin": {
                                                        "description": "The origin information of the container registry operation.",
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The properties information for the container registry operation.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "serviceSpecification": {
                                                                "description": "The definition of Azure Monitoring service.",
                                                                "properties": {
                                                                    "metricSpecifications": {
                                                                        "description": "A list of Azure Monitoring metrics definition.",
                                                                        "items": {
                                                                            "description": "The definition of Azure Monitoring metric.",
                                                                            "properties": {
                                                                                "aggregationType": {
                                                                                    "description": "Metric aggregation type.",
                                                                                    "type": "string"
                                                                                },
                                                                                "displayDescription": {
                                                                                    "description": "Metric description.",
                                                                                    "type": "string"
                                                                                },
                                                                                "displayName": {
                                                                                    "description": "Metric display name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "internalMetricName": {
                                                                                    "description": "Internal metric name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "name": {
                                                                                    "description": "Metric name.",
                                                                                    "type": "string"
                                                                                },
                                                                                "unit": {
                                                                                    "description": "Metric unit.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operation"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/checkNameAvailability": {
            "post": {
                "description": "Checks whether the container registry name is available for use. The name must contain only alphanumeric characters, be globally unique, and between 5 and 50 characters in length.",
                "operationId": "Registries_CheckNameAvailability",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a request to check the availability of a container registry name.",
                                    "properties": {
                                        "message": {
                                            "description": "If any, the error message that provides more detail for the reason that the name is not available.",
                                            "type": "string"
                                        },
                                        "nameAvailable": {
                                            "description": "The value that indicates whether the name is available.",
                                            "type": "boolean"
                                        },
                                        "reason": {
                                            "description": "If any, the reason that the name is not available.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operation"
                ],
                "x-ms-examples": {
                    "RegistryCheckNameAvailable": {
                        "parameters": {
                            "api-version": "2017-10-01",
                            "registryNameCheckRequest": {
                                "name": "myRegistry",
                                "type": "Microsoft.ContainerRegistry/registries"
                            },
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "nameAvailable": true
                                }
                            }
                        }
                    },
                    "RegistryCheckNameNotAvailable": {
                        "parameters": {
                            "api-version": "2017-10-01",
                            "registryNameCheckRequest": {
                                "name": "myRegistry",
                                "type": "Microsoft.ContainerRegistry/registries"
                            },
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "message": "The registry myRegistry is already in use.",
                                    "nameAvailable": false,
                                    "reason": "AlreadyExists"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request to check whether a container registry name is available.",
                                "properties": {
                                    "name": {
                                        "description": "The name of the container registry.",
                                        "maxLength": 50,
                                        "minLength": 5,
                                        "pattern": "^[a-zA-Z0-9]*$",
                                        "type": "string"
                                    },
                                    "type": {
                                        "description": "The resource type of the container registry. This field must be set to 'Microsoft.ContainerRegistry/registries'.",
                                        "enum": [
                                            "Microsoft.ContainerRegistry/registries"
                                        ],
                                        "type": "string",
                                        "x-ms-enum": {
                                            "modelAsString": false,
                                            "name": "ContainerRegistryResourceType"
                                        }
                                    }
                                },
                                "required": [
                                    "name",
                                    "type"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The object containing information for the availability request.",
                    "required": true
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries": {
            "get": {
                "description": "Lists all the container registries under the specified subscription.",
                "operationId": "Registries_List",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a request to list container registries.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI that can be used to request the next list of container registries.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of container registries. Since this list may be incomplete, the nextLink field should be used to request the next list of container registries.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The location of the resource. This cannot be changed after the resource is created.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "The name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The tags of the resource.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The type of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An object that represents a container registry.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The properties of the container registry.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "adminUserEnabled": {
                                                                "default": false,
                                                                "description": "The value that indicates whether the admin user is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "creationDate": {
                                                                "description": "The creation date of the container registry in ISO8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "loginServer": {
                                                                "description": "The URL that can be used to log into the container registry.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "networkRuleSet": {
                                                                "description": "The network rule set for a container registry.",
                                                                "properties": {
                                                                    "defaultAction": {
                                                                        "default": "Allow",
                                                                        "description": "The default action of allow or deny when no other rules match.",
                                                                        "enum": [
                                                                            "Allow",
                                                                            "Deny"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "DefaultAction"
                                                                        }
                                                                    },
                                                                    "ipRules": {
                                                                        "description": "The IP ACL rules.",
                                                                        "items": {
                                                                            "description": "IP rule with specific IP or IP range in CIDR format.",
                                                                            "properties": {
                                                                                "action": {
                                                                                    "default": "Allow",
                                                                                    "description": "The action of IP ACL rule.",
                                                                                    "enum": [
                                                                                        "Allow"
                                                                                    ],
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "Action"
                                                                                    }
                                                                                },
                                                                                "value": {
                                                                                    "description": "Specifies the IP or IP range in CIDR format. Only IPV4 address is allowed.",
                                                                                    "type": "string",
                                                                                    "x-ms-client-name": "IPAddressOrRange"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "value"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "virtualNetworkRules": {
                                                                        "description": "The virtual network rules.",
                                                                        "items": {
                                                                            "description": "Virtual network rule.",
                                                                            "properties": {
                                                                                "action": {
                                                                                    "default": "Allow",
                                                                                    "description": "The action of virtual network rule.",
                                                                                    "enum": [
                                                                                        "Allow"
                                                                                    ],
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "Action"
                                                                                    }
                                                                                },
                                                                                "id": {
                                                                                    "description": "Resource ID of a subnet, for example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.",
                                                                                    "type": "string",
                                                                                    "x-ms-client-name": "VirtualNetworkResourceId"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "defaultAction"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state of the container registry at the time the operation was called.",
                                                                "enum": [
                                                                    "Creating",
                                                                    "Updating",
                                                                    "Deleting",
                                                                    "Succeeded",
                                                                    "Failed",
                                                                    "Canceled"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "status": {
                                                                "description": "The status of the container registry at the time the operation was called.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "displayStatus": {
                                                                        "description": "The short label for the status.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "message": {
                                                                        "description": "The detailed message for the status, including alerts and error messages.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "timestamp": {
                                                                        "description": "The timestamp when the status was changed to the current value.",
                                                                        "format": "date-time",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "storageAccount": {
                                                                "description": "The properties of the storage account for the container registry. Only applicable to Classic SKU.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource ID of the storage account.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "The SKU of the container registry.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The SKU name of the container registry. Required for registry creation.",
                                                                "enum": [
                                                                    "Classic",
                                                                    "Basic",
                                                                    "Standard",
                                                                    "Premium"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuName"
                                                                }
                                                            },
                                                            "tier": {
                                                                "description": "The SKU tier based on the SKU name.",
                                                                "enum": [
                                                                    "Classic",
                                                                    "Basic",
                                                                    "Standard",
                                                                    "Premium"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuTier"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "sku"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Registries"
                ],
                "x-ms-examples": {
                    "RegistryList": {
                        "parameters": {
                            "api-version": "2017-10-01",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
                                            "location": "westus",
                                            "name": "myRegistry",
                                            "properties": {
                                                "adminUserEnabled": true,
                                                "creationDate": "2017-03-01T23:14:37.0707808Z",
                                                "loginServer": "myregistry.azurecr.io",
                                                "provisioningState": "Succeeded",
                                                "status": {
                                                    "displayStatus": "Ready",
                                                    "message": "The registry is ready.",
                                                    "timestamp": "2017-03-01T23:15:37.0707808Z"
                                                }
                                            },
                                            "sku": {
                                                "name": "Standard",
                                                "tier": "Standard"
                                            },
                                            "tags": {
                                                "key": "value"
                                            },
                                            "type": "Microsoft.ContainerRegistry/registries"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries": {
            "get": {
                "description": "Lists all the container registries under the specified resource group.",
                "operationId": "Registries_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group to which the container registry belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The result of a request to list container registries.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URI that can be used to request the next list of container registries.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of container registries. Since this list may be incomplete, the nextLink field should be used to request the next list of container registries.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An Azure resource.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The resource ID.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "The location of the resource. This cannot be changed after the resource is created.",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "read",
                                                                    "create"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "The name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "The tags of the resource.",
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "The type of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An object that represents a container registry.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The properties of the container registry.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "adminUserEnabled": {
                                                                "default": false,
                                                                "description": "The value that indicates whether the admin user is enabled.",
                                                                "type": "boolean"
                                                            },
                                                            "creationDate": {
                                                                "description": "The creation date of the container registry in ISO8601 format.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "loginServer": {
                                                                "description": "The URL that can be used to log into the container registry.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "networkRuleSet": {
                                                                "description": "The network rule set for a container registry.",
                                                                "properties": {
                                                                    "defaultAction": {
                                                                        "default": "Allow",
                                                                        "description": "The default action of allow or deny when no other rules match.",
                                                                        "enum": [
                                                                            "Allow",
                                                                            "Deny"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "DefaultAction"
                                                                        }
                                                                    },
                                                                    "ipRules": {
                                                                        "description": "The IP ACL rules.",
                                                                        "items": {
                                                                            "description": "IP rule with specific IP or IP range in CIDR format.",
                                                                            "properties": {
                                                                                "action": {
                                                                                    "default": "Allow",
                                                                                    "description": "The action of IP ACL rule.",
                                                                                    "enum": [
                                                                                        "Allow"
                                                                                    ],
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "Action"
                                                                                    }
                                                                                },
                                                                                "value": {
                                                                                    "description": "Specifies the IP or IP range in CIDR format. Only IPV4 address is allowed.",
                                                                                    "type": "string",
                                                                                    "x-ms-client-name": "IPAddressOrRange"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "value"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "virtualNetworkRules": {
                                                                        "description": "The virtual network rules.",
                                                                        "items": {
                                                                            "description": "Virtual network rule.",
                                                                            "properties": {
                                                                                "action": {
                                                                                    "default": "Allow",
                                                                                    "description": "The action of virtual network rule.",
                                                                                    "enum": [
                                                                                        "Allow"
                                                                                    ],
                                                                                    "type": "string",
                                                                                    "x-ms-enum": {
                                                                                        "modelAsString": true,
                                                                                        "name": "Action"
                                                                                    }
                                                                                },
                                                                                "id": {
                                                                                    "description": "Resource ID of a subnet, for example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.",
                                                                                    "type": "string",
                                                                                    "x-ms-client-name": "VirtualNetworkResourceId"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "id"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "defaultAction"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state of the container registry at the time the operation was called.",
                                                                "enum": [
                                                                    "Creating",
                                                                    "Updating",
                                                                    "Deleting",
                                                                    "Succeeded",
                                                                    "Failed",
                                                                    "Canceled"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            },
                                                            "status": {
                                                                "description": "The status of the container registry at the time the operation was called.",
                                                                "readOnly": true,
                                                                "properties": {
                                                                    "displayStatus": {
                                                                        "description": "The short label for the status.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "message": {
                                                                        "description": "The detailed message for the status, including alerts and error messages.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "timestamp": {
                                                                        "description": "The timestamp when the status was changed to the current value.",
                                                                        "format": "date-time",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "storageAccount": {
                                                                "description": "The properties of the storage account for the container registry. Only applicable to Classic SKU.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "The resource ID of the storage account.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sku": {
                                                        "description": "The SKU of the container registry.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The SKU name of the container registry. Required for registry creation.",
                                                                "enum": [
                                                                    "Classic",
                                                                    "Basic",
                                                                    "Standard",
                                                                    "Premium"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuName"
                                                                }
                                                            },
                                                            "tier": {
                                                                "description": "The SKU tier based on the SKU name.",
                                                                "enum": [
                                                                    "Classic",
                                                                    "Basic",
                                                                    "Standard",
                                                                    "Premium"
                                                                ],
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "SkuTier"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "sku"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Registries"
                ],
                "x-ms-examples": {
                    "RegistryListByResourceGroup": {
                        "parameters": {
                            "api-version": "2017-10-01",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
                                            "location": "westus",
                                            "name": "myRegistry",
                                            "properties": {
                                                "adminUserEnabled": true,
                                                "creationDate": "2017-03-01T23:14:37.0707808Z",
                                                "loginServer": "myregistry.azurecr.io",
                                                "provisioningState": "Succeeded",
                                                "status": {
                                                    "displayStatus": "Ready",
                                                    "message": "The registry is ready.",
                                                    "timestamp": "2017-03-01T23:15:37.0707808Z"
                                                }
                                            },
                                            "sku": {
                                                "name": "Standard",
                                                "tier": "Standard"
                                            },
                                            "tags": {
                                                "key": "value"
                                            },
                                            "type": "Microsoft.ContainerRegistry/registries"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}": {
            "delete": {
                "description": "Deletes a container registry.",
                "operationId": "Registries_Delete",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group to which the container registry belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    },
                    {
                        "description": "The name of the container registry.",
                        "in": "path",
                        "name": "registryName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 5,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z0-9]*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly."
                    },
                    "202": {
                        "description": "The request was successful; the operation will complete asynchronously."
                    },
                    "204": {
                        "description": "The container registry does not exist in the subscription."
                    }
                },
                "tags": [
                    "Registries"
                ],
                "x-ms-examples": {
                    "RegistryDelete": {
                        "parameters": {
                            "api-version": "2017-10-01",
                            "registryName": "myRegistry",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {},
                            "202": {},
                            "204": {}
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets the properties of the specified container registry.",
                "operationId": "Registries_Get",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group to which the container registry belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    },
                    {
                        "description": "The name of the container registry.",
                        "in": "path",
                        "name": "registryName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 5,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z0-9]*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An Azure resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The location of the resource. This cannot be changed after the resource is created.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "read",
                                                        "create"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "The name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "The tags of the resource.",
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "The type of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An object that represents a container registry.",
                                    "properties": {
                                        "properties": {
                                            "description": "The properties of the container registry.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "adminUserEnabled": {
                                                    "default": false,
                                                    "description": "The value that indicates whether the admin user is enabled.",
                                                    "type": "boolean"
                                                },
                                                "creationDate": {
                                                    "description": "The creation date of the container registry in ISO8601 format.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "loginServer": {
                                                    "description": "The URL that can be used to log into the container registry.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "networkRuleSet": {
                                                    "description": "The network rule set for a container registry.",
                                                    "properties": {
                                                        "defaultAction": {
                                                            "default": "Allow",
                                                            "description": "The default action of allow or deny when no other rules match.",
                                                            "enum": [
                                                                "Allow",
                                                                "Deny"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": true,
                                                                "name": "DefaultAction"
                                                            }
                                                        },
                                                        "ipRules": {
                                                            "description": "The IP ACL rules.",
                                                            "items": {
                                                                "description": "IP rule with specific IP or IP range in CIDR format.",
                                                                "properties": {
                                                                    "action": {
                                                                        "default": "Allow",
                                                                        "description": "The action of IP ACL rule.",
                                                                        "enum": [
                                                                            "Allow"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "Action"
                                                                        }
                                                                    },
                                                                    "value": {
                                                                        "description": "Specifies the IP or IP range in CIDR format. Only IPV4 address is allowed.",
                                                                        "type": "string",
                                                                        "x-ms-client-name": "IPAddressOrRange"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "value"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "virtualNetworkRules": {
                                                            "description": "The virtual network rules.",
                                                            "items": {
                                                                "description": "Virtual network rule.",
                                                                "properties": {
                                                                    "action": {
                                                                        "default": "Allow",
                                                                        "description": "The action of virtual network rule.",
                                                                        "enum": [
                                                                            "Allow"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": true,
                                                                            "name": "Action"
                                                                        }
                                                                    },
                                                                    "id": {
                                                                        "description": "Resource ID of a subnet, for example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{vnetName}/subnets/{subnetName}.",
                                                                        "type": "string",
                                                                        "x-ms-client-name": "VirtualNetworkResourceId"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "required": [
                                                        "defaultAction"
                                                    ],
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the container registry at the time the operation was called.",
                                                    "enum": [
                                                        "Creating",
                                                        "Updating",
                                                        "Deleting",
                                                        "Succeeded",
                                                        "Failed",
                                                        "Canceled"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "ProvisioningState"
                                                    }
                                                },
                                                "status": {
                                                    "description": "The status of the container registry at the time the operation was called.",
                                                    "readOnly": true,
                                                    "properties": {
                                                        "displayStatus": {
                                                            "description": "The short label for the status.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "message": {
                                                            "description": "The detailed message for the status, including alerts and error messages.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "timestamp": {
                                                            "description": "The timestamp when the status was changed to the current value.",
                                                            "format": "date-time",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "storageAccount": {
                                                    "description": "The properties of the storage account for the container registry. Only applicable to Classic SKU.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "The resource ID of the storage account.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sku": {
                                            "description": "The SKU of the container registry.",
                                            "properties": {
                                                "name": {
                                                    "description": "The SKU name of the container registry. Required for registry creation.",
                                                    "enum": [
                                                        "Classic",
                                                        "Basic",
                                                        "Standard",
                                                        "Premium"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuName"
                                                    }
                                                },
                                                "tier": {
                                                    "description": "The SKU tier based on the SKU name.",
                                                    "enum": [
                                                        "Classic",
                                                        "Basic",
                                                        "Standard",
                                                        "Premium"
                                                    ],
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "SkuTier"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "sku"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Registries"
                ],
                "x-ms-examples": {
                    "RegistryGet": {
                        "parameters": {
                            "api-version": "2017-10-01",
                            "registryName": "myRegistry",
                            "resourceGroupName": "myResourceGroup",
                            "subscriptionId": "00000000-0000-0000-0000-000000000000"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry",
                                    "location": "westus",
                                    "name": "myRegistry",
                                    "properties": {
                                        "adminUserEnabled": true,
                                        "creationDate": "2017-03-01T23:14:37.0707808Z",
                                        "loginServer": "myregistry.azurecr.io",
                                        "provisioningState": "Succeeded",
                                        "status": {
                                            "displayStatus": "Ready",
                                            "message": "The registry is ready.",
                                            "timestamp": "2017-03-01T23:15:37.0707808Z"
                                        }
                                    },
                                    "sku": {
                                        "name": "Standard",
                                        "tier": "Standard"
                                    },
                                    "tags": {
                                        "key": "value"
                                    },
                                    "type": "Microsoft.ContainerRegistry/registries"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Updates a container registry with the specified parameters.",
                "operationId": "Registries_Update",
                "parameters": [
                    {
                        "description": "The client API version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the resource group to which the container registry belongs.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1
                        }
                    },
                    {
                        "description": "The name of the container registry.",
                        "in": "path",
                        "name": "registryName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 5,
                            "maxLength": 50,
                            "pattern": "^[a-zA-Z0-9]*$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request was successful; the request was well-formed and received properly.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An Azure resource.",
                                            "properties": {
                                                "id": {
                                                    "description": "The resource ID.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "The location of the resource. This cannot be changed after the resource is created.",
                                                    "type": "string",
                                                    "x-ms-mutability": [
[...]
